<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/public/assets/login/css/style.css" />
	<title>Sign in</title>
</head>

<body>
	<div class="wrapper">
		<div class="form-container sign-in">
			<form action="/sendForLogin" method="POST">
				<h2>login</h2>
				<div class="form-group">
					<input placeholder="" type="text" id="username" name="username" autocomplete="username" required />
					<i class="fas fa-user"></i>
					<label for="username">username/e-mail</label>
				</div>
				<div class="form-group">
					<input placeholder="" type="password" id="password" name="password" autocomplete="current-password" required />
					<i class="fas fa-lock"></i>
					<label for="password">password</label>
				</div>
				<div class="forgot-pass">
					<a href="#">forgot password?</a>
				</div>
				<div class="error">
					<p><%=error%></p>
				</div>
				<button type="submit" class="btn">login</button>
				<div class="link">
					<p>
						Don't have an account?<a href="signup" target="_main" class="signup-link">
							sign up</a>
					</p>
				</div>
			</form>
		</div>
	</div>
	<script src="/public/assets/login/js/main.js" crossorigin="anonymous"></script>
</body>

</html>