<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/assets/login/css/style.css" />
		<link
			rel="stylesheet"
			href="/public/assets/fontawesome/css/fontawesome.css"
		/>
		<link rel="stylesheet" href="/public/assets/fontawesome/css/solid.css" />
		<title>Login</title>
	</head>

	<body>
		<div class="wrapper">
			<div class="form-container sign-up">
				<form id="signup-form">
					<h2>sign up</h2>
					<div class="form-group">
						<input
							placeholder=""
							type="text"
							class="username"
							id="username_signup"
							name="username_signup"
							autocomplete="off"
							required
						/>
						<label for="username_signup">username</label>
						<i class="fas fa-user"></i>
					</div>
					<div class="form-group">
						<input
							placeholder=""
							type="email"
							id="email"
							name="email"
							autocomplete="off"
							required
						/>
						<label for="email">email</label>
						<i class="fas fa-at"></i>
					</div>
					<div class="form-group">
						<input
							placeholder=""
							type="password"
							class="password"
							id="password_signup"
							name="password_signup"
							autocomplete="new-password"
							required
						/>
						<label for="password_signup">password</label>
						<i class="fas fa-lock"></i>
					</div>
					<div class="form-group">
						<input
							placeholder=""
							type="password"
							id="confirm_password"
							name="confirm_password"
							autocomplete="new-password"
							required
						/>
						<label for="confirm_password">confirm password</label>
						<i class="fas fa-lock"></i>
					</div>
					<div
						class="error"
						id="error-signup"
						style="
							height: fit-content;
							display: block;
							text-align: center;
							align-content: center;
							padding: 5px 0px;
						"
					>
						<i id="signup-icon" class="fa-solid"></i>
						<p style="display: inline" id="signup-error-p"></p>
					</div>
					<button type="submit" class="btn">sign up</button>
					<div class="link">
						<p>
							You already have an account?
							<a href="#" class="signin-link">login</a>
						</p>
					</div>
				</form>
			</div>
			<div class="form-container sign-in">
				<form id="login-form">
					<h2>login</h2>
					<div class="form-group">
						<input
							placeholder=""
							type="text"
							class="username"
							id="username_login"
							name="username_login"
							autocomplete="username"
							required
						/>
						<i class="fas fa-user"></i>
						<label for="username_login">username/e-mail</label>
					</div>
					<div class="form-group">
						<input
							placeholder=""
							type="password"
							class="password"
							id="password_login"
							name="password_login"
							autocomplete="current-password"
							required
						/>
						<i class="fas fa-lock"></i>
						<label for="password_login">password</label>
					</div>
					<div class="forgot-pass">
						<a href="#">forgot password?</a>
					</div>
					<div
						class="error"
						id="error-login"
						style="
							height: fit-content;
							display: block;
							text-align: center;
							align-content: center;
							padding: 5px 0px;
						"
					>
						<i id="login-icon" class="fa-solid"></i>
						<p style="display: inline" id="login-error-p"></p>
					</div>
					<button type="submit" class="btn">login</button>
					<div class="link">
						<p>
							Don't have an account?
							<a href="#" class="signup-link">sign up</a>
						</p>
					</div>
				</form>
			</div>
		</div>
		<script
			src="/public/assets/login/js/main.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
