@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(to right, #0b415a, #89216b);
}
.logo_class {
	display: flex;
	margin: 5px;
	align-items: center;
	justify-content: center;
}
#logo {
	width: 100%;
}

.menu {
	display: flex;
	flex-grow: 0.9;
	min-width: 65%;
	justify-content: flex-end;
}
#menu_links {
	width: 500px;
}
#menu_links ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}
#menu_links a {
	color: #ffffff;
	position: relative;
	font-weight: 600;
	text-decoration: none;
}
#menu_links a:after {
	content: '';
	position: absolute;
	background-color: #0f6b96;
	height: 3px;
	width: 0%;
	left: 0%;
	bottom: -10px;
	transition: 400ms;
}
#menu_links a:hover::after {
	width: 100%;
}
.login_div {
	width: max-content;
	margin: 0px 10px;
}
.login {
	background: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 300ms;
}
#login_button {
	text-decoration: none;
	color: #ffffff;
	font-weight: 600;
	transition: background 0.3s, color 0.3s;
}
.login:hover {
	background: #ffffff;
}
.login:hover #login_button {
	color: #0b415a;
}

.hero {
	display: flex;
	width: 100%;
	min-height: 80vh;
	margin: 20px 0px;
	align-items: center;
	justify-content: space-evenly;
}
#drag-area {
	width: 55%;
	height: 394px;
	padding: 2%;
	background: #f2f2f2;
	text-align: center;
	border: 2px dashed #0b415a;
	border-radius: 6px;
	cursor: pointer;
}
#image-view {
	width: 100%;
	height: 100%;

	background: #f2f2f2;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#image-view img {
	height: 50%;
}
#image-view span {
	display: block;
	font-size: 0.7rem;
	color: #808080;
}
form {
	width: max-content;
	height: max-content;
}
textarea {
	width: 55%;
}

#convert {
	padding: 7px;
	margin: 20px;
	color: purple;
	background-color: white;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}
#convert:hover {
	color: white;
	background-color: purple;
	
}
@media (width<900px) {
	* {
		font-size: 16px;
	}
	.login {
		width: 80px;
		height: 32px;
	}
	.logo_class {
		width: 100px;
	}
	.menu {
		width: 50%;
	}
	#menu_links {
		width: 400px;
	}
	#drag-area {
		width: 65%;
	}
	textarea {
		width: 65%;
	}
}

@media (900px <= width <= 1024px) {
	* {
		font-size: 18px;
	}
	.login {
		width: 90px;
		height: 36px;
	}
	.logo_class {
		width: 130px;
	}
}
@media (width>=1024px) {
	* {
		font-size: 18px;
	}
	.login {
		width: 90px;
		height: 36px;
	}
	.logo_class {
		width: 150px;
	}
	#drag-area {
		width: 40%;
	}
	textarea {
		width: 35%;
	}
}
@media (width<=1440px) {
	.hero {
		flex-direction: column;
		justify-content: space-around;
	}
}
@media (width<=700px) {
	#drag-area {
		width: 75%;
	}
	textarea {
		width: 75%;
	}
}

/* about-section */

.section__text .title {
    font-weight: 600;
}

.section__text__p1{
	color: purple;
    text-align: center;
}
.title {
	font-size: 3rem;
	text-align: center;
}